.header-img {
  background-image: url("https://static.wixstatic.com/media/c6a101_41a0065df0414303a97d904197ed42d5.jpg/v1/fill/w_513,h_245,al_c,q_80,usm_0.66_1.00_0.01/c6a101_41a0065df0414303a97d904197ed42d5.webp");
  background-position: center;
  background-repeat: no-repeat;
  width: 525px;
  height: 250px;
  margin: 0.25rem auto;
}

.welcome-area {
  border: 10px solid teal;
  text-align: center;
  width: 95%;
  margin: 0.5rem auto;
  position: relative;
  background-color: #ed1c25;
  padding: 1.5rem;
}

.welcome-area .img-1 {
  position: absolute;
  height: 100px;
  width: 90px;
  left: 20px;
  top: 10px;
}

.welcome-area .img-2 {
  position: absolute;
  height: 100px;
  width: 90px;
  right: 20px;
  bottom: 10px;
}

.welcome-area .img-3 {
  position: absolute;
  left: -35px;
  top: -30px;
}

.welcome-area .img-4 {
  position: absolute;
  right: -35px;
  top: -30px;
  transform: rotate(-90deg);
}

.welcome-area .main-text .header h3 {
  text-decoration: underline;
  text-shadow: 0.5px 0.5px 0.5px #fff;
  margin-bottom: 0;
}

.welcome-area .main-text .header p {
  font-size: 0.75rem;
  color: #fff;
  margin-top: 0.35rem;
}

/* secondary area styling */

.welcome-area .secondary-area h4 {
  font-size: 1.25rem;
}

.welcome-area .secondary-area p {
  font-size: 1.15rem;
  font-weight: 500;
  line-height: 1.6;
}

/* mid area styling */

.mid-area h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

.mid-area h5 span {
  color: #30c4c6;
}

.special-text {
  color: #fff !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
}

.mid-area h4 {
  font-weight: 500;
}

.mid-area h4 span {
  color: #30c4c6;
  text-decoration-line: underline;
}

.mid-area p {
  color: #30c4c6;
  font-size: 1.25rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 3rem;
}

/* footer div */

.footer-div {
  background-color: #30c4c6;
  width: 350px;
  border: 5px solid teal;
  padding: 1rem 1.5rem;
  box-shadow: 5px 5px teal;
  position: absolute;
  bottom: -35px;
  left: 30%;
}

.footer-div:hover {
  box-shadow: none;
  border: 5px solid #fff;
  color: tomato;
  background-color: turquoise;
  bottom: -40px;
}

.footer-div a {
  text-decoration-line: none;
  color: #ed1c25;
  font-size: 1.5rem;
  font-weight: 600;
}

/* disclaimer */
.disclaimer {
  text-transform: uppercase;
  margin-top: 3rem;
  text-align: center;
  text-decoration-line: underline;
}
