.main-area {
  width: 90%;
  background-color: #f86700;
  border: 5px solid transparent;
  border-image: url("../trial.jpg") 25 stretch;

  margin: 0 auto;
}

/* global styles */
.forward-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-right: 10%;
  margin-top: 1rem;
}

.forward-content {
  width: 200px;
  background-color: teal;
  padding: 0.5rem;
  text-align: center;
}

.forward-content a {
  color: white;
  text-decoration-line: none;
}

.forward-arrow {
  width: 0;
  height: 0;
  border-top: 1.2rem solid transparent;
  border-bottom: 1.2rem solid transparent;

  border-left: 1.2rem solid teal;
}

/* back arrow styles */
.backward-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-left: 10%;
  margin-top: 1rem;
}

.backward-content {
  width: 200px;
  background-color: teal;
  padding: 0.5rem;
  text-align: center;
}

.backward-content a {
  color: white;
  text-decoration-line: none;
}

.backward-arrow {
  width: 0;
  height: 0;
  border-top: 1.2rem solid transparent;
  border-bottom: 1.2rem solid transparent;
  border-right: 1.2rem solid teal;
}

/* link wrapper */

.link-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
}
