.Navbar {
  background-color: #a34500;
  width: 90%;
  margin: 0 auto;
  border: 5px solid transparent;
  border-image: url("../trial.jpg") 20 stretch;
}

.Navbar .container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.Navbar .items-wrapper ul {
  display: flex;
  background-color: teal;
  border: 4px solid transparent;
  border-image: url("../trial.jpg") 20 stretch;
  padding: 0 !important;
}

.Navbar .item {
  margin: 0 2em;
  list-style-type: none;
  cursor: pointer;
  display: inline;
  position: relative;
}

.navbar-brand h1 {
  background-color: #522300;
  color: #f86700;
  text-shadow: 1.5px 1px 1px #a58b7c;
  padding: 0.25em 1.5em;
  font-size: 2em;
  letter-spacing: 1.75px;
}

.item a {
  text-decoration: none;
  color: #fff;
}

.submenu-item {
  list-style-type: none;
  padding: 0.5em 0.75em;
  font-size: 0.9em;
  min-width: 100px;
}

/* submenu styling */
/* welcome submenu */
.welcome-submenu {
  display: none !important;
}

.item:hover .welcome-submenu {
  display: block !important;
  position: absolute;
  text-align: center;
}

/* Books submenu */

.books-submenu {
  display: none !important;
}

.books-submenu .submenu-item {
  width: 150px;
}

.item:hover .books-submenu {
  display: block !important;
  position: absolute;
  text-align: center;
}

/* Canon styles */
.canon-submenu {
  display: none !important;
}

.canon-submenu .submenu-item {
  font-size: 0.8rem;
  width: 220px;
}

.item:hover .canon-submenu {
  display: block !important;
  position: absolute;
  text-align: center;
}

/* mishmash styling */
.mishmash-submenu {
  display: none !important;
}

.item:hover .mishmash-submenu {
  display: block !important;
  position: absolute;
  text-align: center;
}
